body {
    background-color: #E6E6E6;
    margin: 0px;
    font-family: Verdana, Georgia, serif;
    font-size: 14px;
}

#header ul {
    padding: 9px;
    list-style-type: none;
    text-align: left;
    background-color: #FAFAFA;
    margin: 0px;
    height: 40px;
    border-radius: 5px;
    
    
}

#header ul li {
    
    display: inline;
    
    
    
}

#header ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: 2em 1em;
    color: #000;
    background-color: #FAFAFA;
}

#header ul li a:hover {
    color: #FFFFFF;
    background-color: #E6E6E6 ;
}

.main {
    background-color: #E6E6E6;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
}

h1 {
    font-size:120%;
    color: #282828;
    padding-left: 530px;
    position: fixed;
    top: 150px;
    text-align: center;
    
    
}

.imagesidebar {
    width: 300px;
    float: left;
    border-radius: 5px;
    margin-left:10px; margin-right:10px;
    margin:0px; margin-bottom:10px;
    clear:left;
    position: fixed;
    top: 290px;
    right: 900px;
    padding-left: 0px;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
    border: 5px solid #FAFAFA;
   
    
   
}

.imagesidebar:hover {
    opacity: 0.4;
    
}

.imagesidebar1 {
    width: 300px;
    float: center;
    border-radius: 5px;
    margin-left:10px; margin-right:10px;
    margin:0px; margin-bottom:10px;
    clear:left;
    position: fixed;
    top: 290px;
    left: 475px;
    padding-left: 0px;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
     border: 5px solid #FAFAFA;
    
}

.imagesidebar1:hover {
    opacity: 0.4;
}


.imagesidebar2 {
    width: 300px;
    float: left;
    border-radius: 5px;
    margin-left:10px; margin-right:10px;
    margin:0px; margin-bottom:10px;
    clear:left;
    position: fixed;
    top: 290px;
    left: 800px;
    padding-left: 0px;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
     border: 5px solid #FAFAFA;
    
}

.imagesidebar2:hover {
    opacity: 0.4;
}





#footer {
    background-color: #FAFAFA;
    margin: 10px;
    height: 60px;
    position: relative;
    top: 500px;
    clear:both;
}

