body {
    background-color: #BDBDBD;
    margin: 0px;
    font-family: Verdana, Georgia, serif;
    font-size: 14px;
}

#header ul {
    padding: 5px;
    list-style-type: none;
    text-align: center;
    background-color: #FFFFFF;
    margin: 1px;
    height: 40px;
    border-radius: 5px;
    
    
}

#header ul li {
    
    display: inline;
    
    
    
}

#header ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: 2em 1em;
    color: #000;
    background-color: #FFFFFF;
}

#header ul li a:hover {
    color: #FFFFFF;
    background-color: #BDBDBD;
}

.main {
    background-color: #BDBDBD;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%;
}

h1 {
    font-size:120%;
    color: #282828;
    padding-left: 830px;
    position: relative;
    top: 100px;
    
    
}

.imagesidebar {
    width: 300px;
    float: left;
    border-radius: 5px;
    margin-left:10px; margin-right:10px;
    margin:0px; margin-bottom:10px;
    clear:left;
    position: relative;
    top: 300px;
    padding-left: 350px;
    opacity: 1.0;
    transition: opacity 0.5s ease-in-out;
   
    
   
}

.imagesidebar:hover {
    opacity: 0.4;
    
}

#footer {
    background-color: #FFFFFF;
    margin: 10px;
    height: 60px;
    position: relative;
    top: 300px;
    clear:both;
}

